//
//  Sandbox.xcconfig
//  AppMerchants
//
//  Created by ThaoVm on 26\/07\/2021.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

CONFIG_PAYMENT_API = https:\/\/sandboxpaydev.vnptmedia.vn\/rest\/payment\/v1.0.5\/
CONFIG_PAYMENT_API_106 = https:\/\/sandboxpaydev.vnptmedia.vn\/rest\/payment\/v1.0.6\/
CONFIG_HOST_API = https:\/\/sandboxpaydev.vnptmedia.vn\/rest\/wallet\/v2.0.0\/
CONFIG_NEW_HOST_API = https:\/\/sandboxpaydev.vnptmedia.vn\/rest\/wallet\/v2.0.0\/
CONFIG_NEW_HOST_API_SECRET = https:\/\/sandboxpaydev.vnptmedia.vn\/rest\/wallet\/v2.0.0\/
CONFIG_NEW_HOST_API_SECRET_110 = https:\/\/sandboxpaydev.vnptmedia.vn\/rest\/wallet\/v2.0.0\/
CONFIG_NEW_HOST_API_SECRET_200 = https:\/\/sandboxpaydev.vnptmedia.vn\/rest\/wallet\/v2.0.0\/
CONFIG_NEW_HOST_API_SECRET_300 = https:\/\/sandboxpaydev.vnptmedia.vn\/rest\/wallet\/v3.0.0\/
CONFIG_COLLECTION_API_SANDBOX = https:\/\/sandboxpaydev.vnptmedia.vn\/rest\/collection\/v1.0.5\/
CONFIG_COLLECTION_API_NEW_SANDBOX = https:\/\/sandboxpaydev.vnptmedia.vn\/rest\/collection\/v1.0.6\/
CONFIG_COLLECTION_API_NEW_SANDBOX_107 = https:\/\/sandboxpaydev.vnptmedia.vn\/rest\/collection\/v1.0.7\/
CONFIG_HOST_CK = https:\/\/sandboxpaydev.vnptmedia.vn\/collection-api\/rest\/price_policy_manager\/v1.0.6\/
CONFIG_HOST_CK_FEE = https:\/\/sandboxpaydev.vnptmedia.vn\/collection-api\/rest\/price_policy_manager\/v1.0.7\/
CONFIG_HOST_FLIGHT_V107 = https:\/\/sandboxpaydev.vnptmedia.vn\/collection-api\/rest\/flight_service\/v1.0.7\/
CONFIG_HOST_MOVIE_V107 = https:\/\/sandboxpaydev.vnptmedia.vn\/collection-api\/rest\/film_ticket_service\/v1.0.7\/
CONFIG_HOST_COLLECTION = https:\/\/sandboxpaydev.vnptmedia.vn\/collection-api\/rest\/collection\/v1.0.6\/
CONFIG_LINK_LOGO_BANK = https:\/\/sandboxpaydev.vnptmedia.vn\/VNPTWallet\/resources\/image\/bank\/%@
CONFIG_HOST_FLIGHT = https:\/\/sandboxpaydev.vnptmedia.vn\/collection-api\/rest\/flight_service\/v1.0.6\/
CONFIG_HOST_MOVIE = https:\/\/sandboxpaydev.vnptmedia.vn\/collection-api\/rest\/film_ticket_service\/v1.0.6\/
CONFIG_HOST_CAR = https:\/\/sandboxpaydev.vnptmedia.vn\/collection-api\/rest\/car_booking_service\/v1.0.6\/
CONFIG_HOS_BANK = https:\/\/sandboxpaydev.vnptmedia.vn\/collection-api\/rest\/config_service\/v1.0.6\/
CONFIG_HOS_MYTV = https:\/\/sandboxpaydev.vnptmedia.vn\/collection-api\/rest\/mytv_service\/v1.0.6\/
CONFIG_HOST_API_DEAULT_IMAGE_LOAN = https:\/\/sandboxpaydev.vnptmedia.vn\/upload\/img\/loan\/
CONFIG_HOST_APPSERVER_V2 = https:\/\/sandboxpaydev.vnptmedia.vn\/appgw\/
CONFIG_HOST_QRCODE = https:\/\/sandboxpaydev.vnptmedia.vn\/qrcodegw\/rest\/qrcode_api\/v1.0.0\/
CONFIG_HOST_AUTOPAY = https:\/\/sandboxpaydev.vnptmedia.vn\/appgw\/autopay\/v_1_0_0\/
CONFIG_HOST_APPSERVER = https:\/\/sandboxpaydev.vnptmedia.vn\/appgw\/
CONFIG_HOST_NOTIFICATION = https:\/\/sandboxpaydev.vnptmedia.vn\/VNPTPay_NotificationFirebaseApi\/
CONFIG_HOST_ADMIN = https:\/\/sandboxpaydev.vnptmedia.vn\/cms-admin\/
CONFIG_NEW_COLLECTION_API_KEY_300 = d8d0ef4ec07117f828aa90ad638d2c95

SANDBOX_MODE = "1"
CONFIG_NEW_COLLECTION_API_KEY = 1d0e23365ab4eae4c801202d945df9f7
CONFIG_PRIVATE_KEY_API = VNPT_WALLET
CONFIG_APP_VERSION = 1.0
CONFIG_APP_DEFAULT_PERPAGE = 40
CONFIG_APP_SAVED_USERNAME = config_temp_1
CONFIG_APP_SAVED_PASSWORD = config_temp
CONFIG_SERVICE_SAVED = service
CONFIG_SERVICE_LIST_SAVED = service_list
CONFIG_PAYMENT_WALLET = thanhtoan.vnptpay@vnpt.vn
CONFIG_COLLECTION_API = https:\/\/api.vnptpay.vn\/rest\/collection\/v1.0.5\/
CONFIG_COLLECTION_SECRET_KEY_107 = 1d0e23365ab4eae4c801202d945df9f7
CONFIG_COLLECTION_SECRET_KEY = 1fd161402e6ad9a8200c6c8517825795
CONFIG_COLLECTION_API_KEY = 5e440a84-ec21-39c1-9760-4f7f51a16ff7
CONFIG_COLLECTION_API_KEY_SANDBOX = 63c8e8911bc833db9fcfda501bd76eac
CONFIG_COLLECTION_API_KEY_SANDBOXv107 = 1d0e23365ab4eae4c801202d945df9f7
CONFIG_COLLECTION_API_VERSION = 1.0.5
CONFIG_COLLECTION_API_NEW_VERSION = 1.0.6
CONFIG_PAYMENT_API_VERSION_106 = 1.0.6
CONFIG_COLLECTION_API_NEW_VERSION_V107 = 1.0.7
CONFIG_KEY_AUTOPAY = dbd2513ee92edc82249d27e2cec35cd8
CONFIG_PAYMENT_SECRET_KEY = c2d9d240bd3c804e5bbdd7431e851631
CONFIG_PAYMENT_API_KEY = 63c8e8911bc833db9fcfda501bd76eac
CONFIG_PAYMENT_API_VERSION = 1.0.5
CONFIG_PAYMENT_API_VERSION_110 = 1.1.0
CONFIG_API_MPOS_VERSION = 1.0.5
CONFIG_API_PARTNER_ID = 2642
CONFIG_API_PARTNER_ID_V107 = 1102
CONFIG_MERCHANT_SERVICE_ID = 322
CONFIG_LINK_SUPPORT = https:\/\/vnptpay.vn\/bill\/help\/dieukhoan
CONFIG_LINK_PRIVACY = https:\/\/vnptpay.vn\/bill\/help\/chinhsachquyenriengtu
CONFIG_LINK_BILL = https:\/\/sandbox.vnptpay.vn\/cms\/resources\/bill\/%@\/hoadon.jpg
CONFIG_LINK_LOGO_BANK_THUMB = https:\/\/cdn-image.vnptfintech.vn\/static\/img_app\/thumbnail_bank\/Bank\/%@\/_Circle@3x.png
CONFIG_QRCODE_SECRET_KEY = 1dc190ac255104a8902b74f373d9a41e
CONFIG_KEY_API_APPSERVER = 63c8e8911bc833dbfds9fcfda501bd76
CONFIG_BEARKEY_APPSERVER = 63c8e8911bc833dbfds9fcfda501bd76
CONFIG_ADMIN_PRIVATE_KEY = WdYkGwGsIvcZ64kk1qYQ
CONFIG_BEARKEY_APPSERVER_V2 = 63c8e8911bc833dbfds9fcfda501bd76
accessCodePTI = e59fba9eb191b9723f766af6ef88fcd9d30c07e4750aac097022d9958938e06c
secretKeyPTI = 05c9edab7b677f4d6c345694755f8075f6798fb762aafabbef1a7a2e1fa64de9
